.service {
    text-align: center;
    .services{

        h3{
            color: #111;
        }

        h6{
            color: #2567dc;
            text-align: left;
        }
        p{
            color: #3a4147;
            font-size: 16px !important;
        }
        img{
            width: 85%;
            height: auto;
        }
    }
    .web_design{

        p{
            color: #000 !important;
            padding-top: 1rem !important;
            cursor: pointer;
        }
    }
}